#forecast {
    padding-top: 5%;
}

#forecastBlocks {
    display: flex;
    flex-direction: grid;
    justify-content: space-between;
}

#currentWeather {
    background-color: antiquewhite;
    border-radius: 10px;
    margin-right: 45%;
    margin-left: -2%;
    padding: 29px;
}


#day1 {
    background-color: antiquewhite;
    border-radius: 10px;
    margin: -15%;
}

h1 {
    padding: 0.5rem;
    text-align: center;
    padding-right: 20%;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white, 
    -1px 1px 0 white, 
    1px 1px 0 white;
}

h2 {
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white, 
    -1px 1px 0 white, 
    1px 1px 0 white;
}

h3 {
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white, 
    -1px 1px 0 white, 
    1px 1px 0 white;
  
}

header {
    background-color: rgb(96, 151, 153);
    background-size: cover; 
}
  
footer {
    position: fixed; /* or use 'position: absolute;' if you want it absolute at the bottom */
    bottom: 0;
    width: 100%;
    background-color: rgb(96, 151, 153);
    padding: 10px;
    text-align: center;
    height: 10vh;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../../assets/images/bmoresky.jpg');
    /* background-image: url('../../assets/images/more-pedals.jpg'); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#searchButton:hover {
    background-color: #e98615;
}

#searchHistoryList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#searchHistoryList li {
    cursor: pointer;
    padding: 8px;
    margin: 4px;
    background-color: #f2f2f2;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#searchHistoryList li:hover {
    background-color: #e98615;
}